[Unit]
Description=Set battery charge thresholds

[Service]
Type=oneshot
ExecStart=/bin/chargectl setcharge 75 80
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
